{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
	<h1>Info</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis in deleniti nesciunt dolores ipsum iure,
		maiores tenetur sint nobis, mollitia rerum ad ullam soluta modi impedit odio ea nihil dignissimos cupiditate
		dolor ducimus eveniet error, quisquam accusantium! Obcaecati sed temporibus eaque veniam aliquam corporis, sint
		in beatae! Mollitia dignissimos, autem sequi aperiam consequuntur odio odit totam illum libero? Dolore amet
		assumenda aliquid officia earum at quibusdam temporibus nesciunt totam, asperiores omnis odio tempore delectus
		a, odit ex sequi accusantium quam. Fuga, sed. Cupiditate delectus ullam tempore, iusto cum possimus quo, eos
		facilis expedita repellendus ducimus hic sint. Autem vel perferendis recusandae nobis. Pariatur qui perspiciatis
		consequatur tempore? Enim voluptas ullam unde nulla atque aliquam veniam quae reiciendis commodi esse? Modi
		laborum sit nisi. Ducimus nostrum temporibus sed recusandae placeat aperiam officiis labore reiciendis,
		laudantium sequi, dolore officia. Ut minima quos quaerat molestias illo qui asperiores, tenetur saepe eius nihil
		itaque atque accusamus aliquam id dignissimos maxime possimus illum veritatis sed laboriosam dicta? Ipsum sit
		facilis ab asperiores. Laboriosam officiis, quasi expedita aperiam explicabo quas repudiandae rem excepturi quod
		nobis, sit veniam enim tempore quibusdam molestias laudantium beatae dolores atque tenetur doloremque sed.
		Neque, vero ipsum? Impedit beatae dolores minus provident expedita, possimus mollitia similique. Esse explicabo
		quibusdam ut natus fuga consectetur ex iure ratione dolores quaerat aut, recusandae amet est nobis aliquid eius
		dicta minus ipsum ullam? Aut maiores harum exercitationem sapiente rem id incidunt nulla qui labore quo ducimus
		adipisci iste doloribus repellendus ad nisi, deleniti ea necessitatibus quia eveniet ipsum atque quos soluta
		commodi! Est sapiente quod dolore illo in sit exercitationem! Quibusdam, optio? Provident aliquam ratione facere
		cum temporibus aut deleniti ex modi alias. Assumenda tempora consequatur saepe deserunt sint quia, nobis cumque
		optio quis, praesentium, repellendus aspernatur voluptatem cum similique distinctio laudantium? Ratione
		inventore nemo officiis?</p>
</div>
{% endblock %}