alembic
astroid
backcall
bcrypt
certifi
cffi
chardet
click 
colorama
decorator
dnspython
email-validator
Flask 
Flask-Bcrypt
Flask-Dance
Flask-Login
Flask-Migrate
Flask-SQLAlchemy 
Flask-WTF
itsdangerous
jedi
Jinja2 
joblib
jupyter-client
jupyter-core
lazy-object-proxy
Mako
MarkupSafe 
mccabe
numpy
oauthlib
opencv-python
pandas
parso
pickleshare
Pillow
prompt-toolkit
pycparser
Pygments
pylint
PyMySQL
pypiwin32
python-dateutil
python-editor
pytz
pywin32
pyzmq
qrcode
requests
requests-oauthlib
scikit-learn
scipy
six
SQLAlchemy 
threadpoolctl
toml
tornado
traitlets
urllib3
URLObject
wcwidth
Werkzeug 
wincertstore
wrapt
WTForms 